*/node_modules/*
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/Random-Stuff/config/applicationhost.config
.vs/Random-Stuff/v16/.suo
*.zip
Final Discussion Board/.vs/slnx.sqlite
Final Discussion Board/.vs/Final Discussion Board/v16/.suo
Final Discussion Board/.vs/ProjectSettings.json
