<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Cars</title>
        <link rel="stylesheet" href="http://localhost:8000/stylesheets/gallery.css">
    </head>


    <body>
        <div class="grid-container">
            <div class="grid-item"><img src ="http://localhost:8000/images/AstonMartinDBS.webp"/></div>
            <div class="grid-item"><img src ="http://localhost:8000/images/LamboAdventador.webp"/></div>
            <div class="grid-item"><img src ="http://localhost:8000/images/AstonMartinVantage.png"/></div>
            <div class="grid-item"><img src ="http://localhost:8000/images/LamboHuracan.jpg"/></div>
            
        </div>
    </body>

</html>