<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>New Car</title>
        <link rel="stylesheet" href="http://localhost:8000/stylesheets/gallery.css">
    </head>


    <body>
        <h1>Add a Car Here</h1>
        <form>
            <label for="make">Car Make:
                <input type="text" id="make" name="make"><br>
            </label><br>
            <label for="model">Car Model:
                <input type="text" id="model" name="model"><br>
            </label><br>
            <label for="src">Picture Source:
                <input type="url" id="src" name="src">
            </label><br>
            <label for="notes">Notes:
                <input type="text" id="notes" name="notes">
            </label><br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>

</html>